<form action="/" method="POST">
    <div class="form-group form-row">
        <h3>Account login</h3>
        <label for="email" class="col-md-4 col-form-label">
            Email adress
        </label>
        <div class="col-md-8">
            <input type="text" placeholder="email" name="email" class="form-control" required>
        </div>
    </div>
    <div class="form-group form-row">
        <label for="password" class="col-md-4 col-form-label">
            Password
        </label>
        <div class="col-md-8">
            <input type="text" placeholder="password" name="password" class="form-control" required>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" type="submit">Sign in</button>
    </div>
    <div class="row">
        <h2>{{checkInfo}}</h2>
    </div>
</form>